GunderScript Project Requirements
********************************************************************************
Below are listed the basic parameters and features that are anticipated to be in
the initial release candidate build.

Features:
  - C style commenting, syntax, function declarations, operators, end statement
    character, etc.
  - Standard programming assignment statements: varName = 3;
  - Multicharacter operators
  - Ability for library user to specify code entry point.
  - Variable Types:
    + Number -> Generic float data type
    + String -> String and generic byte data type
    + Boolean -> Boolean data type
    + Native C Custom -> Used by native developers to create file contexts, etc.
  - Auto conversion between types
  - Compiles to system independent bytecode. Runs on built in stack based VM.
  - While loops
  - Return Statements
  - For loops
  - Nestable logic
  - Local variables
  - Compile Time Error Checking
  - Compile to byte code
